.tokenization-info {
    background: #ffffff;
    padding: 50px 0;

    .header {
        text-align: center;

        .title {
            font-weight: 800;
            color: #000000;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 10px;
        }

        .lead {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #000000;
            margin-bottom: 20px;
        }
    }

    .left {
        .h4 {
            font-size: 24px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 30px;
            font-weight: 800;
        }

        .ctaLink {
            display: inline-block;
            margin-top: 65px;

            .cta {
                height: 40px;
                padding: 9px 16px;
                border-radius: 5px;
                background: #7E22CE;
                border: 1px solid #7E22CE;

                &:hover {
                    background: #6B21A8 !important;
                    border-color: #6B21A8 !important;
                }
            }
        }
    }

    .right {
        .compareCard {
            border: 1px solid #EBEBEB;
            border-radius: 8px;
            background: #FBFBFB;
            margin-bottom: 20px;

            .compareHeader {
                font-size: 16px;
                font-weight: 800;
                text-align: center;
                line-height: 24px;
                color: #000000;
                margin-bottom: 20px;
            }

            .mini {
                border: 1px solid #D6D6D6;
                border-radius: 5px;
                padding: 10px;
                background: #F5F5F5;

                .ant-card-body {
                    padding: 0 !important;
                }

                .miniHead {
                    text-align: center;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    color: #000000;
                    font-weight: 800;
                }

                .list {
                    color: #000000;
                    list-style: none;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    text-align: center;
                }

                &.highlight {
                    border-color: #7E22CE;
                    background: #F9F1FF;
                }
            }
        }

        .govCard {
            border: 1px solid #0B60C9;
            border-radius: 5px;
            background: #F1F7FF;

            .govTop {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-bottom: 6px;

                .govTitle {
                    font-size: 16px;
                    line-height: 24px;
                    color:#000000;
                    font-weight: 800;
                }
            }

            .govText {
                font-size: 14px;
                line-height: 20px;
                color:#000000;
                text-align: center;
                font-weight: 400;
                margin: 0px !important;
            }
        }
    }
}