.hero {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }
}

.hero__bg {
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.hero__overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 20px;

  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #FFFFFF;
    position: relative;
    z-index: 0;
  }

  .hero__subtitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    z-index: 0;
  }
}


.project-dubai-section {
  padding: 60px 20px;
  background-color: #fff;

  .header {
    margin-bottom: 40px;

    h2{
      color:#343535;
      font-size: 32px;
      line-height: 40px;
      font-weight: 800;
      margin-bottom: 15px;
      text-align: center;
    }

    span{
      display: block;
      font-size: 16px;
      line-height: 24px;
      color:#343535;
      font-weight: 600;
      text-align: center;
    }
  }

  .slider-container {
    position: relative;

    .slider-arrow {
      position: absolute;
      top: 40%;
      z-index: 2;
      transform: translateY(-50%);
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

      &.left {
        left: -20px;
      }

      &.right {
        right: -20px;
      }
    }
  }

  .project-slider {
    .slick-slide {
      padding: 0 10px;
    }

    .slick-list {
      margin: 0 -10px;
    }
  }

}