.main-header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;

  .topbar {
    background-color: #353535;
    color: #fff;
    font-size: 14px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;

      span {
        display: flex;
        align-items: center;
        margin-right: 30px;

        @media (max-width: 767px) {
          margin-right: 15px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          color: #fff;
          font-weight: 600;

          @media (max-width: 767px) {
            display: none;
          }
        }

        img {
          margin-right: 6px;
        }
      }
    }

    .right {
      .dropdown-link {
        display: inline-block;
        margin-left: 20px;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        font-weight: 600;

        .lang-icon {
          margin-left: 6px;
          width: 12px;
          height: 6px;
        }

        .flag-icon {
          margin-right: 5px;
        }
      }
    }
  }

  .nav-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-img-wrapper {
      position: relative;
      width: auto !important;
      height: 48px;

      img {
        object-fit: contain;
        width: auto !important;
        height: 100%;
      }
    }

    .desktop-nav {
      display: flex;
      align-items: center;
    }

    .main-nav {
      list-style: none;
      display: flex;
      gap: 28px;
      margin: 0;
      padding: 0;

      li a {
        color: #343535;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
          color: #6e1eff;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 16px;

      .whatsapp-btn {
        background: #25d366;
        border: 1px solid #25d366;
        height: 40px;
        padding: 9px 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        gap: 10px;
        color: #fff;
        box-shadow: none;

        &:hover {
          background: #1fa855;
        }
      }

      .burger {
        display: none;
        font-size: 20px;
      }
    }
  }


}

@media (max-width: 992px) {
  .main-header {
    .nav-container {
      .desktop-nav {
        display: none;
      }

      .actions {
        .whatsapp-btn {
          display: none;
        }

        .burger {
          display: inline-flex;
        }
      }
    }
  }
}



.mobil-burger-menu {
  padding: 20px !important;

  .ant-drawer-header {
    padding: 0px !important;
    margin-bottom: 30px !important;
  }

  .drawer-footer{
    button{
      padding: 10px;
      background-color: #25D366;
      border: none;
      font-size: 16px;
      line-height: 24px;
      color: #fafafa;
      font-weight: 600px;
      border-radius: 5px;
      height: 40px;
      box-shadow: none !important;
    }
  }

  .logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 130px !important;
    height: 45px !important;
  }

  .ant-drawer-body {
    margin-top: 30px !important;
    padding: 0px !important;
  }

  .ant-drawer-header-title {
    justify-content: flex-end !important;
  }

  .mobile-item-head {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #353535;
    font-weight: 600;
    background-color: transparent;
    border: none;
  }

  .mobile-sublist{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #FDFAFF;
    .mobile-subitem {
      background-color: #fff;
    }
  }




  .mobile-nav {
    li {
      list-style: none;
      margin-bottom: 7px;

      a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #353535;
        font-weight: 600;
      }

    }
  }
}